.popup__line {
    width: 358px;
    align-self: center;
    background-image: url(../../../image/Line.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 528px) {
    .popup__line {
        width: 238px;
    }

}