.profile__name-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
    margin-top: 16px;
    color: white;
    margin: 0;
}

@media screen and (max-width: 820px) {
    .profile__name-info {
        min-width: 282px;
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
    }
}