.profile__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-width: 288px;
    color: white;
    margin: 0;
    justify-self: left;
    grid-area: "profile__name";
}

@media screen and (max-width: 1038px) {
    .profile__name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: left;
    }

}

@media screen and (max-width: 820px) {
    .profile__name {
        width: 189px;
        text-align: center;
    }
}